<br>
<h1>PATIENT</h1>
<br>
<div class ="col-sm patient-table">
  <table class="table ">
    <thead>
    <tr class="table-style">
      <th scope="col">LastName</th>
      <th scope="col">FirstName</th>
      <th scope="col">Sex</th>
      <th scope="col">Address</th>
      <th scope="col">PhoneNumber</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr  *ngFor="let patient of patients">
      <th>{{patient.lastName}}</th>
      <th>{{patient.firstName}}</th>
      <th>{{patient.sex}}</th>
      <th>{{patient.address}}</th>
      <th>{{patient.phoneNumber}}</th>
      <th>
        <button type="button" class="btn btn-secondary" (click)="rootToNotesByPatient(patient.id,patient.lastName)">Notes & Resultat</button>
        &nbsp;
        <button type="button" class="btn btn-danger" (click)="deletePatient(patient.id)">Delete</button>
      </th>
    </tr>
    </tbody>
  </table>
</div>
